* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
}

.navbar-box {
  padding: 0 10% 0 10%;
  height: 20vmin;
}

.logo {
  padding: 2% 2% 2% 0;
}

.btn-navbar {
  font-weight: bold;
  font-size: 15px !important;
}

.btn-nav-right {
  display: none;
}

.section1 {
  background-image: url(pictures/background1.jpg);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.s1box-item {
  padding: 0 0 5% 10%;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-s1 {
  background-color: blue;
  border-radius: 50px;
  font-size: 100%;
  width: 180px;
  height: 60px;
  position: relative;
  color: white;
}

.h1-item {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 800;
}

.p1-item {
  width: 35%;
  color: grey;
  font-size: 70%;
  font-family: avenir;
}

.p2b-item {
  margin: 0 auto;
  padding: 5%;
}

.h1-item,
.p1-item {
  text-align: left;
}

.section2 {
  margin: 5% 10% 10% 10%;
  border-radius: 50px;
  background-image: linear-gradient(to left, rgb(45, 156, 219, 0.3), white);
}

.h2-item {
  padding: 8% 8% 2% 0;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: left;
}

.p2-item {
  padding: 2% 10% 5% 0;
  color: grey;
  font-size: 80%;
  font-family: avenir;
}

.section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.h1-s3 {
  text-align: center;
  font-weight: bold;
  line-height: 130%;
}

.p1-s3 {
  padding: 5% 0 5% 0;
  margin: 0 auto;
  width: 35vh;
  line-height: 160%;
  text-align: center;
  font-weight: 500px;
  color: #4b5d68;
}

.container-s4 {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.mb-3 {
  width: 270px;
  height: 270px;
  margin: 10%;
  background-image: linear-gradient(to left, rgb(45, 156, 219, 0.1), white);
  border-radius: 200px 50px 50px 100px;
  position: relative;
}

.img-fluid {
  width: 90px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: -25%;
  opacity: 0.8;
}

.s4-h {
  margin: 10% 0 10% 0;
  font-weight: bold;
  color: grey;
  font-size: 18px;
  text-align: right;
}

.s4-p {
  width: 80%;
  margin: 4% 0 4% 20%;
  font-family: Avenir;
  color: grey;
  line-height: 180%;
  font-size: 14px;
  text-align: right;
}

.card-text {
  text-align: right;
  font-size: 14px;
  position: relative;
}

.s4-btn {
  text-decoration: none;
  color: #212353;
  font-weight: bold;
}

.s4-btn:after {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 18px;
  margin-left: 10px;
}

.section5 {
  margin: 10% 8% 10% 12%;
  background-image: linear-gradient(to left, rgb(45, 156, 219, 0.6), white);
  border-radius: 50px;
}

.h1-s5 {
  padding: 8% 0 0 12%;
  font-weight: bold;
  font-size: 1.2rem;
  color: lightslategrey;
}

.carousel-caption {
  padding-top: 0;
  padding-bottom: 0;
}

.carousel-item {
  width: 60%;
  height: 20vmin;
  margin-left: 12%;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  padding-top: 100px;
}

.d-block {
  width: 9vmin;
  height: 9vmin;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
}

.c-h1 {
  text-align: left;
  margin: 5% 0 5% 25%;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 150%;
  color: #4b5d68;
}
.c-p1 {
  text-align: left;
  margin: 0 0 5% 25%;
  font-size: 0.3rem;
  color: rgb(45, 156, 219);
}
.c-p2 {
  text-align: left;
  margin: 0 0 5% 25%;
  font-size: 0.3rem;
  color: #4b5d68;
}
.section6-flex-box{
  margin: 0 8% 0 10%;
}

.s6-1con {
    display: flex;
    justify-content: space-evenly;
  }

.box1 {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
  }

.item1 {
    margin: 10% 8% 0 12%;
    font-size: 1rem;
    font-weight: bold;
  }

.item2 {
    margin: 15% 8% 10% 12%;
    color: #4b5d68;
    font-size: 50%;
  }

.box2 {
    width: 50%;
    margin: 4% 2% 10% 12%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

.btn-s1-2 {
    background-color: blue;
    border-radius: 50px;
    font-size: 80%;
    width: 120px;
    height: 40px;
    position: relative;
    color: white;
  }

.btn-nav-right2 {
    display: inline-block;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 10px 5px 5px rgba(75, 93, 104, 0.2);
    font-weight: bold;
    font-size: 60%;
    border: none;
  }

.btn-nav-right2:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: 10px;
  }

.section7-flex-box {
    display: flex;
    flex-direction: row;
    margin: 5% 8% 10% 12%;
  }

  .navbar-brand2 {
    margin-right: 10px;
 }

.name {
    font-size: 2.5vmin;
    text-decoration: none;
    color: black;
    font-weight: bold;
 }

.box3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box4 {
    width: 20%;
    display: flex;
    flex-direction: column;
}

  .box5 {
    width: 20%;
    display: flex;
    flex-direction: column;
  }

.box6 {
   width: 20%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    }

.item3, .item4, .item5, .item6 {
    color: #4b5d68;
    font-size: 1.8vmin;
  }

  .item3 {
    width: 50%;
  }

.item4-1, .item5-1, .item6-1 {
    font-weight: bold;
    font-size: 1.8vmin;
  }

  .item6-1 {
   width: 100%;
  }
  .item6 {
    width: 100%;
  }

 .footer-flex-box {
  margin: 5% 8% 10% 12%;
  display: flex;
  justify-content: space-between;
}

.item-footer1 {
  width: 40%;
  color: #212353;
  font-size: 1.5vmin;
}

  @media screen and (min-width: 768px) {
    .section1 {
      background-size: 70% 65%;
      background-position: 120% 80%;
    }

    .btn-nav-right {
      display: inline-block;
      width: 150px;
      height: 40px;
      border-radius: 50px;
      box-shadow: 10px 5px 5px rgba(75, 93, 104, 0.2);
      font-weight: bold;
      font-size: 90%;
      border: none;
    }
    .btn-nav-right:after {
      content: "\f061";
      font-family: FontAwesome;
      font-size: 19px;
      margin-left: 10px;
    }

    .h1-item {
      font-size: 2rem;
      padding: 5% 0 5% 0;
    }
    .p1-item {
      font-size: 100%;
      padding: 0 0 5% 0;
    }

    .section2 {
      padding: 20px;
      height: 50%;
      margin: 5% 10% 10% 10%;
    }

    .h2-item {
      font-size: 2rem;
    }
    .p2-item {
      font-size: 100%;
    }

    .s2box-item {
      background-size: 45% 70%;
    }
    .s2box-item {
      background-image: url(pictures/background2.jpg);
      background-size: 45% 70%;
      background-repeat: no-repeat;
      background-position: left;
    }
    .container-s4 {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .mb-3 {
      width: 400px;
      height: 400px;
      margin: 4%;
    }

    .img-fluid {
      width: 220px;
      height: 250px;
      position: absolute;
      top: 20%;
      left: -20%;
    }
    .s4-h {
      padding: 8%;
      font-size: 20px;
      text-align: left;
    }

    .s4-p {
      width: 270px;
      height: 200px;
      margin: 0 auto;
      font-family: Avenir;
      color: grey;
      font-size: 16px;
      line-height: 180%;
      text-align: left;
    }

    .card-text {
      padding: 8%;
      text-align: left;
      font-size: 16px;
    }
    .h1-s5 {
      font-size: 2.5rem;
    }
    .carousel-item {
      width: 70%;
      height: 25vmin;
    }
    .d-block {
      width: 10vmin;
      height: 10vmin;
    }
    .c-h1 {
      font-size: 1.2rem;
    }
    .c-p1 {
      font-size: 0.8rem;
    }
    .c-p2 {
      font-size: 0.8rem;
    }

    .item1 {
      margin: 10% 8% 0 12%;
      font-size: 2rem;
      font-weight: bold;
    }

    .item2 {
      margin: 15% 8% 10% 12%;
      color: #4b5d68;
      font-size: 100%;
    }

    .box2 {
      width: 50%;
      margin: 6% 2% 10% 12%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    .btn-nav-right2 {
      display: inline-block;
      width: 120px;
      height: 55px;
      border-radius: 50px;
      box-shadow: 10px 5px 5px rgba(75, 93, 104, 0.2);
      font-weight: bold;
      font-size: 70%;
      border: none;
    }

    .btn-nav-right2:after {
      content: "\f061";
      font-family: FontAwesome;
      margin-left: 10px;
    }
    .btn-s1-2 {
      width: 140px;
      height: 55px;
      margin-right: 5%;
      color: white;
      background-color: blue;
      border-radius: 50px;
      font-size: 100%;
      position: relative;
    }
    .section7-flex-box {
      display: flex;
      flex-direction: row;
      margin: 5% 5% 10% 14%;
    }
    .item6 {
      width: 33%;
    }
    .footer-flex-box {
      margin: 5% 8% 10% 14%;
      display: flex;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 960px) {
    body {
      width: 100%;
    }
    .h1-item {
      font-size: 3.8rem;
    }

    .section2 {
      padding: 50px;
    }
    .mb-3 {
      width: 430px;
      height: 430px;
      margin: 4%;
    }

    .carousel-caption {
      padding-top: 0;
      padding-bottom: 10%;
    }

    .carousel-item {
      height: 30vmin;
    }
    .d-block {
      width: 10vmin;
      height: 10vmin;
    }
    .s4-h {
      margin: 25px 0 25px 0;
      font-size: 22px;
    }

    .s4-p {
      width: 260px;
      height: 230px;
      font-size: 18px;
    }
    .c-h1 {
      font-size: 1.8rem;
    }
    .c-p1 {
      font-size: 1rem;
    }
    .c-p2 {
      font-size: 1rem;
    }
    .item1 {
      margin: 10% 8% 0 12%;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .item2 {
      margin: 6% 8% 10% 12%;
      color: #4b5d68;
    }

    .box2 {
      width: 50%;
      margin: 6% 2% 10% 12%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    .btn-nav-right2 {
      display: inline-block;
      width: 140px;
      height: 55px;
      border-radius: 50px;
      box-shadow: 10px 5px 5px rgba(75, 93, 104, 0.2);
      font-weight: bold;
      font-size: 90%;
      border: none;
    }

    .btn-nav-right2:after {
      content: "\f061";
      font-family: FontAwesome;
      margin-left: 5px;
    }
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 100%;
  }
  .carousel-item {
    height: 30vmin;
  }
  .d-block {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 1400px;
  }
  .section1 {
    background-size: 70% 65%;
    background-position: 120% 80%;
  }
}
